PUGSY_PG_HOST=hub.docker.internal
PUGSY_PG_PORT=5432
PUGSY_PG_USER=
PUGSY_PG_PASSWORD=
PUGSY_PG_DATABASE=

IGSCRAPER_APP_ROOT=path/to/ig_profile_scraper
IGSCRAPER_SECRETS=path/to/ig_profile_scraper/secrets
IGSCRAPER_CHROME_PROFILE=path/to/ig_profile_scraper/data/chrome-profile
IGSCRAPER_OUTPUTS=path/to/ig_profile_scraper/outputs
IGSCRAPER_COOKIES=path/to/ig_profile_scraper/src/igscraper/cookies

# export IGSCRAPER_BASE_CONFIG=/Users/shang/my_work/thor/assets/base_config.toml
# export IGSCRAPER_JOB_OVERRIDES=/Users/shang/my_work/thor/assets/job_overrides.yml